.gear1{
    transform-origin: 50% 50%;
    -webkit-animation: spinCCW 2s infinite linear;
}
.gear2{
    transform-origin: 50% 50%;
    -webkit-animation: spinCW 2s infinite linear;
}

.arrow {
transform: translateY(-15px);
  animation: MoveDown 1s linear infinite ;
  opacity:0;
}


@keyframes MoveUp {
  to {
    transform: translateY(-10px);
    opacity:0;
  }
}

@keyframes MoveDown {
  to {
    transform: translateY(1px);
    opacity:1;
  }
}

@-webkit-keyframes spinCCW {
    0%  {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(-360deg);}
}

@-webkit-keyframes spinCW {
    0%  {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}
}
